.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  display: grid;
  height: 85vh;
  
}

.grid-container{
  display: grid;
  grid-template-rows: 80vh 20vh;
}

.title-text{
  grid-area: 1/1/2/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.title-button{
  grid-area: 1/1/2/2;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.title-img{
  padding: 70px;
  grid-area: 1/2/2/3;
}

#features{
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}
