*{
    background-color: black;
}

div{
    width: 50%;
    margin-top: 100px;
    margin-left: 25%;
    font-family: "Libre Baskerville", serif;
    margin-right: 25%;
    text-align: center;

}

.motivation-img{
    border: 5px solid white;
}

h1{
    color: white;
    text-transform: uppercase;
    font-size: 3rem;
}

p{
    color: white;
}